<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Jadwal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of schedule">
    <ion-card-header>
      <ion-card-subtitle>{{ item.day }}, {{ item.date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Tempat : {{ item.place }}</p>
      <p>Waktu : {{ item.time }}</p>
      <ion-button expand="block" color="primary" [routerLink]="['/lapor-kegiatan']">Lapor Kegiatan</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
